body {
  background-color: #fff;
}

.main {
  display: block;
  position: relative;
  top: 200px;
  text-align: center;
  clear: both;
}

.logo {
  display: block;
  margin: 0 auto;
}

.search {
  display: block;
  margin: 20px auto;
  width: 600px;
  height: 35px;
}

.buttons {
  display: inline-block;
  margin-top: 10px;
}

.button {
  background-color: #f4f4f4;
  color: #222;
  border: none;
  padding: 10px 15px;
}

ul {
  list-style-type: none;
  font-size: 0.9em;
  padding: 15px;
}

li {
  display: inline;
}

.left {
  float: left;
}

.right {
  float: right;
}

footer {
  position: fixed;
  bottom: 0;
  height: 40px;
  width: 100%;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
  color: #222;
  padding: 5px;
}

a:hover {
  text-decoration: underline;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
}

span {
  display: inline-flex;
  vertical-align: middle;
}